/* Automate All CSS Minified */
/*#region main */
:root {
    --primary-color: #0F4C75;
    --secondary-color: #90ACBF;
    --secondary-font: 'Varela', sans-serif;
    --varela-400: 400;
    --biryani-600: 600;
    --biryani-700: 700;
    --biryani-800: 800;
    --biryani-900: 900;
}

body {
    font-family: 'Biryani', sans-serif;
}

.noselect {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.sorry {
    margin-top: 150px;
}
/*#endregion main  */

/*#region Primary Color  */
.nav-item a,
footer,
footer span,
section.headline,
section.why,
section.solution span,
section.blog h1,
section.blog p,
section.blog h4,
section.blog a,
.products,
.products a,
section.services,
section.detail h1,
section.detail h3,
section.omv,
a.list-group-item,
.contact-us a,
section.contact-us .btn,
section.contact-us h1,
section.contact-us h4,
section.contact-us p,
section.contact-us input,
section.contact-us textarea,
section.contact-us span,
.modal.message-sent p,
.modal.message-sent button,
.sorry {
    color: #0F4C75 !important;
}
/*#endregion Primary Color  */

/*#region Secondary Color */
section.solution h2,
section.solution h3,
.products p,
section.detail p,
.carousel-control-next-icon:after,
.carousel-control-prev-icon:after,
section.contact-us textarea::placeholder,
section.contact-us input::placeholder,
.text-muted {
    color: #90ACBF !important;
}
/*#endregion Secondary Color */

/*#region Navbar */
.navbar {
    background-color: rgba(255, 255, 255, .8)
}

.navbar img {
    height: 82px;
    width: 290px;
}

.navbar-brand {
    margin-left: 15px;
}

.nav-item {
    margin-top: 5px;
}

.nav-link {
    padding: 0;
    margin: 10px auto !important;
}

.nav-item a {
    font-weight: 600;
    font-size: 12px !important;
    margin: 20px auto;
}

.nav-item a::before {
    display: block;
    font-weight: 900;
    content: attr(title);
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.nav-item a:hover {
    font-weight: 900;
}

.nav-item.active a {
    font-weight: 900;
    border-bottom: 2px solid #0F4C75;
}

.navbar-collapse {
    background-color: white;
}

.navbar .login{
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px 15px;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: white !important;
    cursor: pointer;
    border: 2px solid var(--primary-color);
}

.navbar .regist{
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px 15px;
    background-color: white;
    color: var(--primary-color) !important;
    border: 2px solid var(--primary-color);
    cursor: pointer;
}

.nav-item .logout{
    margin: 0 !important;
}
/*#endregion Navbar */

/*#region Footer */
footer.border-top {
    border-color: #C9E3F4;
}

footer {
    margin-top: 120px;
    box-sizing: border-box;
    box-shadow: 0px -1px 15px rgba(15, 76, 117, 0.25);
    border-radius: 35px 35px 0px 0px;
    background-color: white !important;
}

footer a {
    text-decoration: none !important;
}

footer span {
    font-weight: 600;
    font-size: 15px;
}

footer h4 {
    font-weight: 700;
}

footer .partners {
    height: 128px;
    background-color: #0F4C75;
    border-radius: 16px;
}

footer .socials-mr {
    margin-right: 28px;
}

/*#endregion Footer */

/*#region Checkout  */
.modal{
    z-index: 999999;
}

.content{
   margin-top: 150px;
   /* overflow-x: hidden; */
   
}
.content_text{
   margin-top: 0px;
}
.text__checkoutWrapper{
   height: 64px;
}
.text__checkout{
   font-weight: 900 !important;
   font-size: 36px !important;
   font-style: normal !important;
   font-family: "Biryani',sans-serif" !important;
}
.content__texWrapper{
   display: flex;
   flex-direction: column;
   width: 386px;
}
.content__texWrapperLeft{
   min-width: 207px;
}
.content__textLeft{
   font-weight: 600;
   font-size: 24px;
   color: #0F4C75;
   font-family: "Biryani',sans-serif" !important;
}
.content__textRight{
   font-weight: 400;
   font-size: 22px;
   color: #0F4C75;
   font-family: "Varela',sans-serif" !important;
}
.content_wrapper{
   display: flex;

}
.imgLogoOvo{
   width: 110px;
   height: 52px;
}
.imgLogoOvo > img {
   width: 100%;
}
.imgLogoDana{
   width: 182px;
}
.imgLogoDana > img{
   width: 100%;
}
.imgLogoShope{
   width: 160px;
   height: 84px;
}
.imgLogoShope > {
   width: 100%;
}
.text_anWrapper{
    margin-top: -65px;
}
.text_an{
   font-weight: 400;
   font-size: 24px;
   font-family: "Biryani',sans-serif" !important;
}
.text_anSpan{
   font-weight: 700;
}
.inputForm{
   border-color: #0F4C75;
   padding: 10px 15px;
   border-radius: 5px;
   width: 224px;
   margin-right: 20px;
   font-family: "Varela',sans-serif" !important;
}
.inputForm::-webkit-input-placeholder{
   color: #0F4C75;
   font-size: 20px;
}
.submitForm{
   padding: 10px 20px;
   border-radius: 5px;
   color: white;
   background-color: #0F4C75;
   border: none;
   font-family: "Biryani',sans-serif" !important;
}
.tabble__wrap{
    height: 466px;
}
.table__wrapper{
   border-radius: 5px;
   border: 2px solid #0F4C75;
   width: 100%;
   padding: 35px 30px;
   margin-bottom: 90px;
}
.table__summary{
   font-size: 32px;
   color: #0F4C75;
   font-weight: 900 !important;
   margin-top: 30px;
   font-family: "Biryani',sans-serif" !important;
}
.table__textLeft{
   font-size: 24px;
   color: #0F4C75;
   font-weight: 600;
}
.table__textLeftBayar{
   font-size: 24px;
   font-weight: 700;
   color: #0F4C75;
}
.table__textRightBayar{
   font-size: 24px;
   font-weight: 400;
   color: #0F4C75;
}
.text__unggah{
   font-weight: 700;
   font-size: 20px;
}
.block {
   display: block;
   width: 100%;
   border: none;
   background-color: #0F4C75;
   padding: 10px;
   font-size: 30px;
   font-weight: 600;
   cursor: pointer;
   text-align: center;
   color: white;
}
.text__buktiWrapper{
   margin-top: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.text__bukti{
   font-size: 20px;
   font-weight: bold;
   margin-top: 10px;
   font-family: "Biryani',sans-serif" !important;
   cursor: pointer;
   text-align: center;
   width: 100%;
}
.text__struk{
   margin-top: 7px;
   margin-bottom: 52px;
   font-family: "Varela',sans-serif" !important;
   font-size: 18px;
}
.text__wrapper{
   width: 209px;
   height: 45px;
   border: 2px solid #0F4C75;
   border-radius: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.btn-primary{
   background-color: #0F4C75;
   /* padding: 10px 0 10px 0; */
   font-size: 30px;
   font-weight: 600;
   font-family: "Biryani',sans-serif" !important;
   
}
.text__th{
   font-size: 24px;
   font-weight: 600;
   font-family: "Biryani',sans-serif" !important;
}
.text__thBayar{
   font-size: 24px;
   font-weight: 800;
   font-family: "Biryani',sans-serif" !important;
}
.text__td{
   font-size: 24px;
   font-weight: 400 !important;
   font-family: "Biryani',sans-serif" !important;
}
.text__kode{
   margin-top: 0px !important;
   font-family: "Varela',sans-serif" !important;
   font-size: 16px;
}
.th__diskon{
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 100%;
}
.table td, .table th{
    padding: 0;
}
.formKode__wrapper{
   margin-bottom: -50px;
}
.form-groupModal{
position: relative;
display: flex;
flex-direction: column;
}
.form-groupModal > p{
top: 70px;
position: absolute;
font-size: 12px;
color: red;
margin-left: 10px;
}
@media (max-width: 1200px) {
   .content__texWrapper{
         width: 100%;
   } 
}
@media (max-width: 990px) { 
   .content__texWrapperLeft{
         min-width: 169px;
   }
   .content__texWrapper{
         width: 100%;
   }
   .formKode{
         display: flex;
   }
   .formKode__wrapper{
         margin-bottom: 50px;
   }
   .text_anWrapper{
          margin-top: -55px;
   }
}
.text__kode{
    color: #FF4D4D;
}
@media (max-width: 550px) { 
   .content__textLeft{
   font-size: 22px !important;
   }
   .content__textRight{
         font-size: 20px !important;
   }
   .tabble__wrap{
         padding-left: 50px;
         padding-right: 50px;
   }
   
   
}

.fileBtnHide {
display: none;
}
/*#endregion Checkout  */


/* LANDING PAGE */

/*#region Flash News Pop Up*/
#flash-container {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0,0,.7);   
}

@keyframes appear {
    from {
        height: 0;
    }
    to {
        height: 570px;
    }
}

#flash {
    z-index: 11;
    color: #0F4C75;
    position: fixed;
    top: 3vh;
    left: 50%;
    width: 90vmin;
    transform: translate(-50%);
    text-align: center;
    background-color: white;
    border-radius: 2%;
    overflow: hidden;
    animation: appear 1.5s ease-in forwards;
    box-shadow: 0 0 12px 8px rgba(174, 205, 226, .25);
}

#flash button {
    position: absolute;
    right: 0;
    padding: 8px;
    background-color: white;
    border: 2px solid black;
}

#flash h2{
    font-size: 1.3rem;
    margin: 15px;
}

#flash a {
    font-size: .8rem;
    color: inherit;
    text-decoration: underline;
}

.flash-img img{
    max-width: 100%;
    height: auto;
}
/*#endregion Flash News Pop Up */

/*#region Section Headline */
.contact-us hr {
    background-color: #0F4C75;
}

.contact-us .btn,
.products .btn,
.referral .btn,
.detail .btn{
    background-color: #FFF742;
    border-radius: 35px;
    top: 43px;
}

.contact-us a {
    font-weight: 800;
    font-size: 25px;
    padding: 10px 15px 5px 15px;
}

.contact-us a:hover,
.products a:hover {
    color: white !important;
}

section.headline {
    margin-top: 130px;
}

section.headline .landingvideo{
    width: 100%;
    height: auto;
}

section.headline p {
    margin-top: 35px;
    font-family: 'Varela', sans-serif;
}

/*#endregion Section Headline */

/*#region Section Solution */
section.solution {
    margin-top: 70px;
}

section.solution h2 {
    font-weight: 700;
    font-size: 38px;
    margin-bottom: 8vh;
}

section.solution h2 span {
    font-weight: 900;
    display: block;
}

section.solution h3 {
    font-size: 24px;
    margin-top: 20px;
    line-height: 35px;
    font-weight: 700;
}

section.solution h3 span {
    font-weight: 900;
}

/*#endregion Section Solution */

/*#region Section Why */
section.why {
    margin-top: 120px;
}

section.why .card {
    box-shadow: -8px -8px 12px rgba(174, 205, 226, 0.25), 8px 8px 12px rgba(174, 205, 226, 0.5);
    border-radius: 0px 75px;
    transition: 0.3s ease;
}

section.why h3 {
    font-weight: 900;
    font-size: 20px;
    line-height: 43px;
}

section.why h1 {
    font-weight: 900;
    font-size: 170px;
    color: #C9E3F4;
    line-height: 150px;
}

#aa {
    font-size: 22px;
    margin-left: 25px;
}

section.why .why-text {
    margin-left: 0;
}

section.why .two-card {
    margin-top: 80px;
}

section.why p {
    font-family: 'Varela', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

section.why .card:hover {
    transform: scale(1.1);
    box-shadow: -8px -8px 12px rgba(174, 205, 226, 0.7), 8px 8px 12px rgba(174, 205, 226, 0.9);
}

section.why .card-img-top {
    width: 100%;
    height: auto;
    padding: 10px 15px !important;
}

/*#endregion Section Why */

/*#region Section Wave */

.why__container{
    width: 100%;
    height: 1300px;
    overflow-y: hidden !important;
    position: relative;
    margin-bottom: -120px;
  }
  
  .wave__container{
    position: absolute;
    z-index: -999999;
    width: 100% !important;
  }
  
  .wave__img{
    width: 100% !important;
  }
  
  @media only screen and (max-width: 2000px) {
    .why__container{
      height: 1100px !important;
    }
  }
  
  @media only screen and (max-width: 1200px) {
    .why__container{
      max-height: 1000px !important;
    }
    .wave__container{
      position: absolute;
      top: 50px !important;
    }
  }
  
  @media only screen and (max-width: 1050px) {
    .wave__container{
      top: 170px !important;
    }
  }
  
  @media only screen and (max-width: 990px) {
    .why__container{
      max-height: 900px !important;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .wave__container{
      display: none;
    }
    .why__container{
      min-height: 1500px !important;
    }
  }
  
/*#endregion Section Wave */

/*#region Section our videos */
section.our-videos {
    margin-top: 15vh;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: var(--secondary-color);
    text-underline-position: under;
}

section.our-videos h1 {
    font-size: 50px;
    font-weight: 800;
    color: var(--primary-color);
    margin-bottom: 5vh;
}

section.our-videos iframe {
    margin-top: 5vh;
    max-width: 100%;
}

/*#endregion section our videos */

/*#region Absolute Vector */
.v1 {
    display: none;
    z-index: -1;
    right: 0;
    top: 740px;
}

.v2 {
    z-index: -1;
    right: 0;
    visibility: hidden;
}
/*#endregion Absolute Vector */

/*Akhir LANDING PAGE */


/* Blog */

/*#region BLOG PAGE */
section.blog {
    margin-top: 150px;
}

section.blog img {
    margin-bottom: 10px;
    box-shadow: -8px -8px 12px rgba(174, 205, 226, 0.25), 8px 8px 12px rgba(174, 205, 226, 0.5);
    border-radius: 0px 75px;
}

section.blog h1 {
    font-weight: 700;
    font-size: 24px;
}

section.blog h1,
section.blog p {
    padding: 0 15px;
}

section.blog p {
    font-size: 18px;
}

section.blog p,
section.blog a.small-link {
    font-family: 'Varela', sans-serif;
}

section.blog a.small-link {
    font-size: 13px;
    font-weight: bold;
}

section.blog h4 {
    font-weight: 700;
    padding: 0 15px;
}

section.blog a.big-link {
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
}

section.blog a.big-link:hover {
    font-weight: 900;
}


/*#endregion BLOG PAGE */

/*#region ARTICLE LIST PAGE */
section.article_list {
    margin-top: 20vh;
}

section.article_list h5 {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color: var(--primary-color);
}

section.article_list p {
    line-height: 20px;
    color: var(--primary-color);
    font-family: var(--secondary-font);
    font-weight: var(--varela-400);
}

section.article_list .article-img {
    position: relative;
    height: 200px;
}

section.article_list img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    box-shadow: -8px -8px 12px rgba(174, 205, 226, 0.25), 8px 8px 12px rgba(174, 205, 226, 0.5);
    border-radius: 0px 75px;
}

.article-item {
    margin-top: 20px;
}

.article-content {
    margin-top: 10px;
    padding: 0 5px;
}

.date {
    font-size: 13px;
    color: grey;
    display: block;
    margin-top: 10px;
}

.article-content a {
    font-size: 14px;
    color: var(--primary-color);
}

/*#endregion ARTICLE LIST PAGE */

/*#region ARTICLE DETAILS PAGE */
section.articleDetails {
    margin-top: 22vh;
}

.detailImage {
    position: relative;
    height: 250px;
}

.detailImage img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.detailContent {
    padding: 20px 10px;
}

section.articleDetails h1 {
    display: inline-block;
    color: var(--primary-color);
    line-height: 40px;
    font-size: 2rem;
    font-weight: 700;
    margin: 10px 0 10px 0;
    padding: 0;
}

section.articleDetails p {
    font-family: var(--secondary-font);
    font-size: 16px;
    color: var(--primary-color);
    padding: 0;
}

section.articleDetails h2 {
    color: var(--primary-color);
    font-family: var(--secondary-font);
    margin-top: 1em;
    margin-bottom: .3em;
    font-size: 1.5rem;
}

section.articleDetails ul li,
section.articleDetails ol li{
    color: var(--primary-color);
    font-family: var(--secondary-font);
    font-size: 24px;
}

section.articleDetails a {
    color: var(--primary-color);
    margin-top: 5px;
    font-size: 16px;
    text-decoration: none;
}

/*#endregion ARTICLE DETAILS PAGE */

/* Akhir Blog */


/* PRODUCTS AND SERVICES PAGE*/

/*#region Carousel Products */
.products h1,
section.services h1,
section.services h2 {
    font-weight: 900;
}

.products {
    animation: fadeIn 2.5s ease;
}

.products h2 {
    font-weight: 700;
    font-size: 34px;
}

.products p {
    font-family: 'Varela', sans-serif;
    line-height: 23.4px;
    text-align: justify;
}

.products a {
    font-weight: 700;
    font-size: 25px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    outline: #90ACBF;
    background-image: none;
}

.carousel-control-next-icon:after {
    content: '>';
    font-weight: 900;
    font-size: 40px;

}

.carousel-control-prev-icon:after {
    content: '<';
    font-weight: 900;
    font-size: 40px;
}
/*#endregion Carousel Products */

/*#region Section Our Services */
section.services .card {
    background: #FFFFFF;
    box-shadow: -8px -8px 12px rgba(174, 205, 226, 0.25), 8px 8px 12px rgba(174, 205, 226, 0.5);
    border-radius: 0px 75px;
    padding: 15px 10px;
    box-sizing: border-box;
    transition: 0.3s ease;
}

section.services .card:hover {
    transform: scale(1.1);
    box-shadow: -8px -8px 12px rgba(174, 205, 226, 0.7), 8px 8px 12px rgba(174, 205, 226, 0.9);
}

section.services h2 {
    margin-top: 15px;
    font-size: 24px;
    margin-bottom: 15px !important;
}

section.services .card-img-top {
    padding: 10px 25px;
    width: 100%;
    height: auto;
}
/*#endregion Section Our Services */

/*#region Section Detail */
section.detail {
    margin-top: 180px;
}

section.detail a{
    background-color: #0F4C75 !important;
    color: white;
}

section.detail a.disable{
    background-color: #C4C4C4 !important;
    color: white;
    pointer-events: none;
    cursor: default;
}

section.detail p {
    font-family: 'Varela', sans-serif;
    font-size: 18px;
}

section.detail h1 {
    font-weight: 900;
}

.display-3 {
    font-size: 3.5rem;
}

section.detail h3 {
    font-weight: 600;
}

/*#endregion Section Detail */

/*#region Section Our Main Value */

section.omv {
    margin-top: 110px;
}

a.list-group-item {
    font-weight: 600;
    font-size: 11px;
}

a.list-group-item:hover {
    font-weight: 900;
    text-decoration: none;
}

a.list-group-item::before {
    display: block;
    font-weight: 900;
    content: attr(title);
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

a.list-group-item.active {
    font-weight: 900;
    background-color: white;
    border: none;
}

#ocr {
    animation: fadeIn 3.5s ease;
}

section.omv h1 {
    font-weight: 700;
    font-size: 64px;
}

section.omv p {
    font-family: 'Varela', sans-serif;
    font-size: 18px;
    padding-top: 20px;
}

.tab-content {
    margin-top: 30px;
}


/*#endregion Section Our Main Value */

/*#region Section Contact Us */
section.contact-us {
    margin-top: 150px;
}

#map {
    animation: fadeIn 6s ease;
}

section.contact-us h1 {
    font-weight: 900;
    font-size: 55px;
    margin-bottom: 0 !important;
}

section.contact-us p {
    font-family: 'Varela', sans-serif;
    font-size: 20px;
    line-height: normal;
}

section.contact-us form {
    margin-top: 34px;
}

section.contact-us input.form-control {
    font-size: 18px;
    border: 1px solid #90ACBF;
    border-radius: 20px;
    padding: 25px;
}

section.contact-us .form-control {
    transition: box-shadow 0.2s ease-in-out;
}

section.contact-us .form-control:focus {
    box-shadow: 0 0 0 5px #90ACBF !important;
}

a.btn:focus,
section.contact-us button.btn:focus {
    box-shadow: none !important;
}

section.contact-us input {
    font-family: 'Varela', sans-serif;
    font-size: 18px;
}

section.contact-us textarea {
    font-family: 'Varela', sans-serif;
    font-size: 18px !important;
}

section.contact-us textarea.form-control {
    font-size: 18px;
    border: 1px solid #90ACBF;
    border-radius: 20px;
    padding: 25px;
}

section.contact-us textarea::placeholder {
    font-family: 'Varela', sans-serif;
    font-size: 18px;
}


section.contact-us input::placeholder {
    font-family: 'Varela', sans-serif;
    font-size: 18px;
}

section.contact-us .btn {
    background-color: #FFF742;
    border-radius: 17px;
    font-family: 'Varela', sans-serif;
    font-size: 30px;
}

section.contact-us h4 {
    font-weight: 600;
}

section.contact-us span {
    font-weight: 400;
    font-size: 14px;
    display: block;
}

section.contact-us .spaceatas1,
section.contact-us .spaceatas2 {
    margin-top: 120px;
}

section.contact-us .invalid-feedback {
    margin-top: 0.5rem !important;
}

.modal-content {
    position: absolute;
    top: 15vh;
    width: 400px;
    margin: 0 auto;
    left: 10vw;
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25), 8px 8px 12px rgba(174, 205, 226, 0.5);
    border-radius: 35px;
    border: none;
}

.modal.message-sent p {
    padding: 0 5px;
    font-family: 'Varela', sans-serif;
    font-size: 24px;
}

.modal.message-sent button {
    font-weight: 700;
    font-size: 24px;
    border-radius: 17px;
    background-color: #FFF742;
    width: 215px;
    height: 50px;
    line-height: 50px;
    margin: 30px auto 20px auto;
    position: relative;
    z-index: 1;
}

.modal-body {
    position: relative;
}

.modal.message-sent img.ellipse {
    z-index: 0;
    position: absolute !important;
    border-radius: 35px;
    bottom: 0;
    left: 0;
}

.modal-open .container-fluid,
.modal-open .container {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

#map iframe {
    border-radius: 0px 75px;
}

/*#endregion Section Contact Us */

/*#region Section Academy */
section.academy {
    margin-top: 180px;
}

.academy h1 {
    color: var(--primary-color);
    font-weight: 900;
    font-size: 50px;
}

.academy h2 {
    color: var(--primary-color);
    font-weight: 900;
    font-size: 24px;
    margin-top: 16px;
}

.academy p {
    color: var(--secondary-color);
    font-family: 'Varela', sans-serif;
    font-size: 24px;
}

.option {
    margin-top: 77px;
}

.academy .option .opt-card {
    width: 304px;
    height: 335px;
    background-color: #EBEBEB;
    padding: 27px 27px;
    border-radius: 20px;
}

.option .content-img {
    height: 250px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: -8px -8px 12px rgba(255, 255, 255, 0.7), 8px 8px 12px rgba(107, 107, 107, 0.5);
    border-radius: 0 65px;
}

.option a {
    text-decoration: none;
}

/*.option a:hover .content-desc>h2 {*/
/*    color: white;*/
/*}*/

/*#endregion Section Academy */

/*#region Section Academy detail */
.academy-detail-new {
    width: 70vw;
    margin: auto;
  }
  
  .academy-detail-left {
    max-width: 500px;
    margin-right: 50px;
  }
  
  .academy-detail-left img {
    max-width: 450px;
    border-radius: 20px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
  }
  
  .academy-detail-left p {
    font-size: 1.3rem;
  }
  
  .academy-detail-left h1 {
    font-size: 1.5rem;
    margin: 25px 0px;
  }
  
  .btn-academy {
    display: block;
    border-radius: 10px;
    border: 0;
    padding: 15px;
    margin: 15px auto;
    width: 200px;
  }
  
  .academy-detail-left .daftar {
    background-color: #0f4c75;
    color: white;
  }
  
  .academy-detail-left .bayar {
    background-color: #0f4c7540;
    color: white;
  }
  
  .academy-detail-right {
    max-width: 700px;
  }
  .academy-detail-right p {
    font-size: 1.2rem;
  }
  
  .academy-detail-schedule {
    margin-top: 100px;
    padding: 20px 35px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  }
  
  .academy-detail-description {
    margin-top: 50px;
    padding: 20px 35px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  }
  
  .academy-detail-description h3 {
    margin: 30px 0px;
    color: #0f4c75;
  }
  
  .academy-detail-ketentuan {
    margin-top: 50px;
    padding: 20px 35px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  }
  
  .academy-detail-ketentuan h3 {
    margin: 30px 0px;
    color: #0f4c75;
  }
  
  .academy-detail-ketentuan ol {
    font-size: 1.2rem;
    font-weight: normal;
    color: #0f4c75;
    counter-reset: foo;
    margin: 0;
    padding: 0;
    border-spacing: 15px;
    display: table;
  }
  
  .academy-detail-ketentuan li {
    counter-increment: foo;
    display: table-row;
    border-spacing: 30px;
  }
  
  .academy-detail-ketentuan li::before {
    content: counter(foo) ".";
    display: table-cell;
    border-spacing: 10px;
    text-align: right;
    padding-right: 0.5em;
  }
  
  /* media queries */
  @media (max-width: 990px) {
    .academy-detail-new {
      overflow-x: hidden;
      width: 100%;
      margin: auto;
    }
    .academy-detail-left {
      margin-right: 0px;
      max-width: 100%;
    }
  
    .academy-detail-left img {
      max-width: 500px;
      margin: 50px auto;
      display: block;
    }
  
    .academy-detail-left p {
      text-align: center;
    }
  
    .academy-detail-left h1 {
      text-align: center;
    }
  }
  
  @media (max-width: 550px) {
    .academy-detail-new {
      overflow-x: hidden;
      width: 100%;
      margin: auto;
    }
  
    .academy-detail-left {
      margin-right: 0px;
    }
  
    .academy-detail-left img {
      max-width: 300px;
      margin: 50px auto;
      display: block;
    }
  
    .academy-detail-left p {
      font-size: 1.1rem;
    }
  
    .academy-detail-left h1 {
      font-size: 1.2rem;
    }
  
    .btn-academy {
      padding: 10px;
      margin: 15px auto;
    }
  
    .academy-detail-right p {
      font-size: 1rem;
    }
  
    .academy-detail-schedule {
      margin-top: 50px;
      padding: 20px;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    }
  
    .academy-detail-description {
      margin-top: 50px;
      padding: 20px;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    }
  
    .academy-detail-description h3 {
      margin: 30px 0px;
      color: #0f4c75;
    }
  
    .academy-detail-ketentuan {
      margin-top: 50px;
      padding: 20px;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    }
  
    .academy-detail-ketentuan h3 {
      margin: 30px 0px;
      color: #0f4c75;
    }
  
    .academy-detail-ketentuan ol {
      font-size: 0.9rem;
    }
  
    .academy-detail-ketentuan li {
      padding: 10px auto !important;
    }
  }
  
  /*#endregion academy detail */

/*#region Section Referral */
section.referral td,
section.referral th{
    text-align: center;
}

section.referral .center{
    margin-top: 10px;
}

section.referral .progress{
    -moz-box-shadow:    inset 0 0 5px #919191;
    -webkit-box-shadow: inset 0 0 5px #919191;
    box-shadow:         inset 0 0 5px #919191;
}

section.referral .progress-bar{
    background-color: #0F4C75;
}

section.referral a.btn{
    font-size: x-large;
    border-radius: 50px;
    width: 100%;
}

section.referral .btn{
    font-weight: bold;
    color: #0F4C75;
    border-radius: 17px;
    font-family: 'Varela', sans-serif;
}

section.referral .subjudul{
    color: #90ACBF;
    margin-left: auto;
    margin-right: auto;
}

section.referral p{
    color: var(--primary-color);
}

section.referral .ting100{
    height: 100%;
}

section.referral .disabled{
    color: white;
    background-color: #919191;
}
/*#endregion section referral */

/*#region Section academy list  */
.academy-list-title p {
  font-size: 1.9rem;
  margin-top: 30px;
  font-weight: 600;
  color: #0f4c75;
  width: fit-content;
  border-bottom: 5px solid #0f4c75;
  padding-bottom: 25px;
}

.card {
  max-width: 450px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 30px 0px;
}

.crop-img {
  width: 100%;
  height: 290px;
  object-fit: cover;
  object-position: 50% 0%;
}

.online-learning-list {
  margin-top: 100px;
}

.detail-course img {
  width: 25px;
  display: inline-block;
  margin-right: 20px;
}
.detail-course p {
  display: inline-block;
}

.btn-daftar {
  margin-top: 30px;
  background: #0f4c75;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  margin-right: 10px;
}

.btn-daftar:hover {
  color: #fff;
}

.btn-detail {
  margin-top: 30px;
  background: #fff;
  color: #0f4c75;
  padding: 10px 15px;
  border-radius: 5px;
  border: 2px solid #0f4c75;
}

.price-course {
  font-weight: bold;
  color: #0f4c75;
}

@media (max-width: 990px) {
  .academy-list-title h1 {
    font-size: 2.5rem;
  }

  .academy-list-title p {
    font-size: 1.6rem;
    padding-bottom: 10px;
  }

  .card-body h2 {
    font-size: 1.7rem;
  }
  .card-body p {
    font-size: 1.3rem;
  }
}

@media (max-width: 550px) {
  .academy-list-title h1 {
    font-size: 2rem;
  }

  .academy-list-title p {
    font-size: 1.4rem;
    border-bottom: 2px solid #0f4c75;
    padding-bottom: 5px;
  }

  .online-learning-list {
    margin-top: 20px;
  }
  .card {
    min-width: 300px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px #00000033;
    padding: 30px 0px;
  }

  .crop-img {
    width: 100%;
    height: 290px;
    object-fit: cover;
    object-position: 50% 0%;
  }

  .card-body h2 {
    font-size: 1.3rem;
  }
  .card-body p {
    font-size: 1rem;
  }
}
/*#endregion academy list  */

/*#region modal regis */
.modal__wrapper {
    width: 708px !important;
    padding: 50px 55px;
    left: -7vw;
    border-radius: 20px !important;
  }
  .btn__exitModal {
    top: -30px;
    right: -20px;
    justify-content: flex-end !important;
    position: absolute;
    font-size: 62px;
    font-weight: 100;
    color: #c0c0c0;
    cursor: pointer;
  }
  
  .form__modalDaftar {
    width: 100%;
  }
  .form-groupModal > p {
    font-size: 12px !important;
    color: red !important;
  }
  
  .h5__registrasiModal {
    text-align: center;
    font-weight: 900;
    font-size: 24px;
    color: #0f4c75;
    font-family: "Biryani',sans-serif" !important;
  }
  .h6__registrasiModal {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #0f4c75;
    margin-bottom: 30px;
    font-family: "Biryani',sans-serif" !important;
  }
  .btn__exitModal {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  .form-groupModal {
    margin-bottom: 25px;
  }
  .input__labelModal {
    font-weight: 400;
    font-size: 18px;
    color: #0f4c75;
    margin-bottom: 5px;
    font-family: "Varela',sans-serif" !important;
  }
  .input__valueModal {
    border-radius: 50px;
    border: 2px solid #90acbf;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Varela',sans-serif" !important;
  }
  .input__valueModal::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 16px;
    color: #90acbf;
  }
  .input__valueModal:focus {
    background-color: rgba(144, 172, 191, 0.3);
    color: #90acbf;
    border: 2px solid #90acbf;
    box-shadow: none;
  }
  .btn__inputWrapperModal {
    margin-top: 45px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .p__sureModal {
    font-weight: 400 !important;
    font-size: 12px !important;
    color: #0f4c75 !important;
    margin-bottom: 5px !important;
    font-family: "Varela',sans-serif" !important;
  }
  .btn__inputModal {
    padding: 10px 50px;
    border-radius: 15px;
    background-color: #0f4c75;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: -7px;
  }
  .small__otherModal {
    font-weight: 400;
    font-size: 12px;
    color: #0f4c75;
    font-family: "Varela',sans-serif" !important;
    margin-top: -25px;
    margin-bottom: 10px;
  }
  
  @media (max-width: 970px) {
    .modal__wrapper {
      width: 608px !important;
      padding: 50px 80px;
      left: -7vw;
    }
    .btn__exitModal {
      right: -35px;
    }
    .btn__exitModal > img{
      width: 40px !important;
    }
  }
  
  @media (max-width: 768px) {
    .modal__wrapper {
      width: 508px !important;
      padding: 50px 40px;
      left: -1vw !important;
    }
    .btn__exitModal {
      top: -39px;
      right: -5px;
    font-size: 42px !important;
    }
    .modal-body__daftar {
      padding: 50px 35px;
    }
    .h5__registrasiModal {
      text-align: center;
    }
    .modal-dialog__daftar {
      max-width: 100%;
      height: 100vh;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .modalContent__daftar {
      width: 450px;
    }
    .btn__exitModal > img{
      width: 30px !important;
    }
  }
  
  @media (max-width: 510px) {
    .modal__wrapper {
      width: 348px !important;
      padding: 50px 40px;
      left: 6vw !important;
    }
    .btn__exitModal {
      right: -5px;
    }
    .modal-body__daftar {
      padding: 50px 25px;
    }
    .modalContent__daftar {
      width: 350px;
    }
  }
/*#endregion modal regis */

/*#region Section Login */
    /* Pake style Contact-us */
section.contact-us.logres{
    margin-top: 0px;
}

section.logres .container{
    background-color: white;
    border-radius: 50px;
}

section.logres .link{
    background-color: white;
}

section.logres button.btn{
    font-weight: bolder;
    /* background-color: var(--primary-color) ;
    color: white !important; */
}

section.logres .link, section.logres a{
    font-weight: 0;
    font-size: 15px;
    padding: 0;
}

section.logres a:hover{
    color: var(--primary-color) !important;
}

section.logres h1{
    font-size: 50px;
    font-weight: bold;
    color: white !important;
}
/*#endregion Section Login */

/*#region Responsive Breakpoints */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    #aa {
        margin-left: 30px;
        font-size: 30px;
    }

    section.why h1 {
        font-size: 210px;
    }

    section.blog h1 {
        font-size: 28px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #flash {
        top: 2vh;
    }
    
    .nav-item a {
        font-size: 12px;
        margin: 0;
    }

    .nav-item {
        margin-right: 3px;
    }

    .navbar-collapse {
        background-color: inherit;
    }

    section.solution h3 {
        font-size: 26px;
        line-height: 45px;
    }

    .v1 {
        display: inline;
    }

    section.solution h2 {
        font-size: 48px;
    }

    section.why .two-card {
        margin-top: 95px;
        height: 600px;
    }

    section.why h1 {
        font-size: 220px;
        line-height: 200px;
    }

    #aa {
        margin-left: 40px;
    }

    section.why .one-card {
        margin-top: 165px;
    }

    section.why .why-text {
        margin-left: 0;
    }

    section.our-videos {
        margin-top: 0;
    }

    section.contact-us h1 {
        font-size: 64px;
    }

    section.contact-us p {
        font-size: 24px;
    }

    section.contact-us input.form-control {
        font-size: 28px;
        padding: 35px;
    }

    section.contact-us input {
        font-size: 28px;
    }

    section.contact-us input::placeholder {
        font-size: 28px;
    }

    section.contact-us textarea.form-control {
        padding: 20px 35px;
    }

    .modal.message-sent p {
        padding: 0;
    }

    .modal.message-sent button {
        margin: 30px auto;
    }

    .display-3 {
        font-size: 4.5rem;
    }

    .contact-us a {
        font-size: 30px;
        padding: 15px 25px 5px 25px;
    }

    .contact-us .btn,
    .products .btn {
        top: 48px;
    }

    section.headline p {
        margin-top: 50px;
    }

    section.services .card {
        padding: 50px 20px;
    }

    #card-width {
        width: 15rem !important;
    }
    
    section.blog h1 {
        line-height: 50px;
    }

    .detailImage {
        height: 300px;
    }

    section.articleDetails h1 {
        line-height: 40px;
        font-size: 32px;
    }

    section.articleDetails p,
    section.articleDetails a {
        font-size: 18px;
    }
    
    section.articleDetails h2 {
        font-size: 2rem;
    }
    
    .smaller-p {
        font-size: 12px !important;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #flash {
        top: 5vh;
        width: 450px;
    }
    
    section.headline .landingvideo{
        width: 92%;
        height: auto;
    }
    
    section.solution h3 {
        font-size: 36px;
        line-height: 67.07px;
    }

    section.why h1 {
        font-size: 250px;
        line-height: 0.9em;
    }

    #aa {
        font-size: 36px;
        margin-left: 230px;
    }

    .v2 {
        top: 1660px;
        visibility: visible;
    }

    .additional {
        margin-top: 112px !important;
    }

    section.blog h1 {
        font-size: 30px;
    }
    
    section.blog h4 {
        font-size: 1.2rem;
    }

    section.contact-us .spaceatas {
        margin-top: 190px;
    }

    #card-width {
        width: 18rem !important;
    }

    section.why .two-card {
        height: 530px;
    }

    .detailImage {
        height: 400px;
    }

    section.articleDetails h1 {
        line-height: 50px;
        font-size: 38px;
    }

    section.articleDetails p,
    section.articleDetails a {
        font-size: 20px;
    }

    section.our-videos {
        margin-top: 5vh;
        text-align: left;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    section.headline .landingvideo{
        width: 79%;
        height: auto;
    }
    
    .nav-item {
        margin-right: 20px;
    }

    section.solution h3 {
        font-size: 38px;
    }

    section.why h1 {
        font-size: 288px;
    }

    section.blog h1 {
        font-size: 34px;
    }

    .v2 {
        top: 1870px;
    }
}

/* ANIMATIONS */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
/*#endregion Responsive Breakpoints */

/* Akhir PRODUCTS AND SERVICES PAGE*/